* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Karla', sans-serif;
    text-align: center;
    color: #131416;
    letter-spacing: .1em;
    line-height: 1.8em;
    background-color: #f1f2f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

a {
    color: #55198b;
    text-decoration: none;
    font-weight: 700;
}

a:hover,
a:active {
    transition: 0.3;
    color: #141c3a;
    
}


span {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
}

.italics {
    font-style: italic;
}

nav {
    padding: 1% 4%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    min-height: 0; 
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 180px;
    border-top: 1px solid #E6ECF8;
    background-color: #55198b;
}

header {
    line-height: 2.5em;
    padding: 10%;
}

section {
    min-height: 200px;
}

h1{
    margin-bottom: 5%;
}

.hero-image {
    margin: 10%;
    max-height: 200x;
    max-width: 200px;
    border-radius: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}

.project-container {
    margin: 1% auto;
    width: 90vw;
    border: 1px solid #E6ECF8;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
}

.project-thumbnail {
    max-width: 100%;
    border-radius: 6px;
}

.project-description {
    padding: 2%;
    font-size: 1em;
    letter-spacing: normal;
}

ul {
    list-style: none;
}

.project-description-sub ul {
    padding: 2%;
}

.project-description-sub li {
    font-weight: 500;
    line-height: 2em;
}

.project-description-sub li:nth-child(n+2) {
    display: inline;
    margin: 3%;
}

.bio {
    background-color: #55198b;
    padding: 5%;
}

.bio-text {
    color: #fff;
    margin: 0 1em 0;
    line-height: 1.5em;
}

.lets-work {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    margin: auto;
    text-align: center;
    width: 90vw;
    background-color: #141c3a;
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}

.contact-button {
    cursor: pointer;
}

.work-together {
    padding: 0 2%;
}

.hideMe {
    display: none;
}

.bottom-nav {
    min-height: 0;
}

.fa-icons {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-icons:before {
    display: none;
}

.fa-color {
    color: #fff;
}

.fa-color:hover,
.fa-color:active {
    transition: 0.3;
    color: #141c3a;
}

.bottom-nav li {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0 .75em;
}

.button:hover,
.button:active {
    transition: 0.3s;
    background-color: #55198b;
    color: #ffffff;
    border: 1px solid #55198b
}

.contact-button {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: 1em 2em;
    margin: 0 auto;
    background-color: #141c3a;
    border: 2px solid #55198b;
    border-radius: 290486px;
}

@media only screen and (min-width: 550px) {

    .top-nav {
        display: flex;
        align-items: center;
    }

    .top-nav li {
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        display: inline;
        margin: 0 1em;
    }

    .project-thumbnail {
        margin: 3%;
        max-width: 495px;
    }

    .project-description-sub li {
        line-height: 3em;
    }

    .project-description-sub li:nth-child(n+2) {
        display: inline;
        margin: 1%;
    }

    .contact-button {
        margin: .0 auto;
    }

    .bottom-nav li {
        font-size: 2em;
        margin: 0 1em;
    }

}

@media only screen and (min-width: 900px) {
    .project-thumbnail {
        margin: 3%;
        max-width: 700px;
    }

}